body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-family: Rubik, sans-serif;
  background-color: #e5e5e5;
}

.calendar {
  width: 250px;
  padding: 60px 60px 30px;
  background-color: #1e1f25;
  border-radius: 12px;
}

.calendar-header {
  margin: 0 0 30px 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.calendar-date {
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 2;
  border-bottom: solid 1px #313131;
  width: 100%;
}

.calendar-date td {
  color: #ccc;
  text-align: center;
  padding: 0;
  line-height: 2.3;
}

.todo-name {
  margin: 5px 0 20px;
  font-size: 14px;
}

.todo-time {
  color: #ccc;
  font-size: 10px;
}

.calendar-todo {
  list-style: none;
  padding: 0;
}

.calendar-todo li {
  padding: 0;
  margin: 0;
  text-align: left;
}

.rounded-green {
  color: #fff;
  background: #589c5f;
  border-radius: 50%;
}
